html{
        background-color: white;
}
.container{
	display: grid;
	width: 960px;
	height: 960px;
	grid: auto;
	background-color: white; 
	padding: 10px;	
}
.columns{
	
  	padding: 5px; 
	background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black; 
}
.rows{
	padding: 20px; 
	background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black; 

}
